## Assignment

In [1]:
# import the libraries
import pandas as pd

In [4]:
# Load the data
data = pd.read_csv(r'C:\Users\Mairaj-PC\Jawan Pakistan Assignments\Pokemon.csv')

In [5]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Q1: Create High_Low_Speed Column

In [32]:
# First find the mean
Speed_mean = data.Speed.mean()

# Function for Speed
def high_low_speed(val):
    if val < Speed_mean:
        return "Low Speed"
    elif val == Speed_mean:
        return "Neutral Speed"
    else:
        return "High Speed"

In [38]:
# add the column of High_Low_Speed
data['High_Low_Speed'] = data.Speed.apply(high_low_speed)
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,High_Low_Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Low HP
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Low HP
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,High HP
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,High HP
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Low HP

In [42]:
# Summary of Count in High_Low_Speed for each category
data.High_Low_Speed.value_counts()

Low HP     426
High HP    374
Name: High_Low_Speed, dtype: int64

## Q2: Create High_Low_HP Column

In [40]:
# First find the mean
HP_mean = data.HP.mean()

# Function for Speed
def high_low_speed(val):
    if val < HP_mean:
        return "Low HP"
    elif val == HP_mean:
        return "Neutral HP"
    else:
        return "High HP"

In [41]:
# add the column of High_Low_HP
data['High_Low_HP'] = data.HP.apply(high_low_speed)
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,High_Low_Speed,High_Low_HP
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Low HP,Low HP
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Low HP,Low HP
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,High HP,High HP
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,High HP,High HP
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Low HP,Low HP

In [43]:
# Summary of Count in High_Low_HP for each category
data.High_Low_Speed.value_counts()

Low HP     426
High HP    374
Name: High_Low_Speed, dtype: int64